doctype html
html 
    head 
        title Royal Dance Academy 
        block scripts 
        block style  
    body 
        nav#navbar
            ul 
                div#logo 
                    img(src="/static/img/logo.png")
                    b   RDA
                li #[a(href="/") About ]
                li #[a(href="/") Home ]
                li #[a(href="/") Services ]
                li #[a(href="/") Class Info  ]
                li #[a(href="/") Contact Us ]
        block content 
        footer#footer  
            | Copyright @ 2023 RoyalDanceAcademy.com | All rights reserved